#container {
    height: 100vh;
    background-color: rgb(108, 85, 177);
    padding: 32px;
    color: white;
}

#container h1 {
    font-size: 28px;
    line-height: 26px;
    font-weight: bold;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

#container a {
    text-decoration: none;
}

:host ::ng-deep .header-collapse-condense ion-toolbar {
    padding-top: 0;

    ion-title {
        position: relative;
    }
}
